# Next.js
/.next/
/out/

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Production build artifacts causing push issues
.firebase/*/functions/.next/
.firebase/*/functions/node_modules/

# Dependencies
/node_modules/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
*.env.local

# VScode
.vscode/
